.v-menu__content {
  border-radius: $border-radius-dropdown;
  box-shadow: $box-shadow-general;

  .sidebar-filter {
    height: 30px;
    line-height: 25px;
    font-size: $font-size-small !important;
    font-weight: $font-weight-bolder + 100;
    color: $black-color;
  }

  .v-responsive {
    max-height: 100px;
    border-radius: $border-radius-dropdown;
    max-width: 50px;
    margin: 0 auto;
  }

  .container.grid-list-xl .layout .flex {
    padding: $padding-small - 5;
  }

  .v-avatar,
  .v-responsive {
    border: 3px solid $white;
    transition: all .34s;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &.image-active,
    &.color-active,
    &.color-tb-active,
    &.color-btn-active {
      border-color: $brand-info;
    }
  }

  .v-avatar {
    @include fixed-plugin-btncolors('deep-purple', $brand-primary);
    @include fixed-plugin-btncolors('green', $brand-success);
    @include fixed-plugin-btncolors('cyan', $brand-info);
    @include fixed-plugin-btncolors('orange', $brand-warning);
    @include fixed-plugin-btncolors('red', $brand-danger);
    @include fixed-plugin-btncolors('grey-darken-3', $brand-dark);
  }

  .v-avatar {
    @include fixed-plugin-tbcolors('deep-purple', $brand-primary);
    @include fixed-plugin-tbcolors('green', $brand-success);
    @include fixed-plugin-tbcolors('cyan', $brand-info);
    @include fixed-plugin-tbcolors('orange', $brand-warning);
    @include fixed-plugin-tbcolors('red', $brand-danger);
    @include fixed-plugin-tbcolors('grey-darken-3', $brand-dark);
  }


  .v-responsive {
    @include fixed-plugin-colors('deep-purple', $brand-primary);
    @include fixed-plugin-colors('cyan', $brand-info);
    @include fixed-plugin-colors('orange', $brand-warning);
    @include fixed-plugin-colors('grey-darken-3', $brand-dark);
  }


}